{% extends '::base.html.twig' %}
{# enlasa los archivos CSS y Javascript adecuados #}
{% block title %}{{siteName}}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/themedefault/css/normalize.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/themedefault/css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/themedefault/css/bootstrap-theme.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/themedefault/css/estilo.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/themedefault/css/ui.totop.css') }}" type="text/css">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/themedefault/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/themedefault/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/themedefault/js/ie10-viewport-bug-workaround.js') }}"></script>
    <script src="{{ asset('bundles/themedefault/js/jquery.ui.totop.js') }}"></script>
    <script src="{{ asset('bundles/themedefault/js/script.js') }}"></script>
    <script src="{{ asset('bundles/themedefault/js/easing.js') }}"></script>
{% endblock %}
{% block body %}
    {% block header %}
        {% include "ThemeDefaultBundle::menu.html.twig" %}
        {% include "ThemeDefaultBundle::breadcrumb.html.twig" %}
        {% include "ThemeDefaultBundle::welcome.html.twig" %}       
    {% endblock %}
    <section id="contenido">
        <div class="container">
            <div class="row">
                {% block content %}
                    {% block left %}
                        <div class="col-xs-12 col-md-8">
                            {% include "ThemeDefaultBundle::leftContent.html.twig" %}
                        </div>                   
                    {% endblock %}
                    {% block right %}
                        <div class="col-xs-12 col-md-4 col-lg-4">
                            {% include "ThemeDefaultBundle::rightContent.html.twig" %}
                        </div>                   
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    </section>
    {% block footer %}
        {% include "ThemeDefaultBundle::footerContent.html.twig" %}    
    {% endblock %}        
{% endblock %}